.navbar {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  box-shadow: 0 0 6px #00000043;

  .routes {
    display: flex;
    margin: 0 -12px;

    & > * {
      margin: 0 12px;
    }

    .route {
      &.active {
        text-decoration: underline;
      }
    }
  }

  .logout {
  }
}
